@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Oswald:wght@300&display=swap');
* {margin: 0;
    padding: 0;
    border: none;
}
/* Top section of Page*/  
body {
    font-family: Oswald, sans-serif;
    font-weight: 1000;  /* isit needed? */ 
    color: #4e4e4e;
    background-color: #F5F5F5;
}
/* headings and logo */

h1 {
    padding-top: 20px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #F5F5F5;
    text-decoration: none;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
}
a {
    text-decoration: none;
       }
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #173aa3;
    text-decoration: none;
}
h3, h4, p {
    padding-top: 20px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #173aa3;
    text-decoration: none;
}


#logo {
    text-align: center;
    font-size: 300%;
    text-decoration: none;
    margin: 0 auto;}


/* navigation links */

#menu
{
font-size: 100%;
letter-spacing: 4px;
text-transform: UPPERCASE;
font-family: Noto serif, sans-serif;
color: #F08080;
}

#menu, #logo 
{line-height: 50px;}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover { 
    border-bottom: 1px solid #F08080;
}

.active {
    border-bottom: 1px solid #173aa3;
} 

/*training image & cover text */

#introimage {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: inherit; 
}
#training-image {
    height: 700px;
    width: 100%;
    background: url(../images/Lamasiatraining.jpeg) no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: training-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for training image */
@keyframes training-zoom {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text
{   font-size: 130%;
    font-family: Noto serif, sans-serif;
    text-transform: UPPERCASE;
    letter-spacing: 3px;
    width: 400px;
    height: 400px;
    
    padding-top: 20px;
    padding-left: 10px;
    background-color:rgba(252, 252, 252, 0.6);
    bottom: 100px;
    right: 145px;
    border-radius: 50%;
    position: absolute;
}
 #cover-text h2
{

    font-size: 200%;
    color: #173aa3;
}

#cover-text h3 
{
    text-align: center;
    margin-bottom: 30px;
    color:#80b6f0;
}

#cover-text h4
{
    text-align: center;
    margin-top: 30px;
    color: #173aa3;
}
hr {
    border-top: 3px solid#F08080;
    width: 94%;
    margin-bottom: 3px;
     }


    /* company-ethos middle section of Page*/   

    #welcome {
        text-align: center;
        margin: 35px;
        font-size: 280%;
    } 

    #question { 
        border-top: 3px solid #F08080;
        width: 33%;
        margin:auto;
        }
    #text1 {
            font-family: Oswald, sans-serif;
            text-transform: uppercase;
            letter-spacing: 4px;
            color: #F08080;
            margin-bottom: 20px; }
        
     #text2 {
            font-family: Oswald, sans-serif;
            text-transform: uppercase;
            letter-spacing: 4px;
            color: #F08080;
            margin-bottom: 20px; }
        
        #text3 {
            font-family: Oswald, sans-serif;
            text-transform: uppercase;
            letter-spacing: 4px;
            color: #F08080;
            margin-bottom: 20px; }
        
.first-heading {
    width: 60%;
    /* float: right; */
    line-height: 30px;
    clear: both;
    
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 300px;
    margin-left: 300px;
}

.second-heading {
    width: 60%;
    /* float: left; */
    text-align: center;
    line-height: 30px;
    clear: both;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 300px;
    margin-left: 300px;
}

.third-heading {
    width: 60%;
    /* float: left; */
    line-height: 30px;
    clear: both;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 300px;
    margin-left: 300px;
}

#middleimage 
{ background: url(../images/Lamacia1.jpeg) no-repeat center center;
    height: 500px;
    width: 100%;
    position: relative; 
    opacity: 0.7;
}


/* media queries */

@media screen and (max-width: 1300px) {

    .first-heading { 
        margin-left: 0;
        margin:auto;}
    .second-heading {
        margin-left: 0;
        margin:auto;}
    .third-heading {
        margin-left: 0; 
        margin:auto;

    }
    #text1, #text2, #text3 {
        width:100%;
    }
    #text3 {
        margin-bottom: 50px;
    }
    #locations > div{
        width: 100%;
        height: 50%;
        clear: both;
        height: 100px;
        padding: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 1400px) {
#cover-text 
{ margin: auto;
}
#training-image {
    height:100%;

}
}

    @media only screen and (max-width: 600px) {
        .signup-form 
        { margin-left: 0px;
                
        } }
        @media only screen and (max-width: 600px) {
            
            {  display: none;

                    
            } }


       /* locations */

       #locations {
        background-image: url(../images/barca-building.jpeg);
        background-position: center;
        width: 100%;
        overflow: hidden;
    
       }

       #locations div {
        color: #fafafa;
        background-color: rgba(0, 0, 0, 0.258);
        width: 260px;
        height: 260px;
        float: left;
        padding: 30px 0 0 10px;
        text-align: center;
        border: 3px solid white;
        border-radius: 50%;
        float: right;
       }
       
       #locations h2 
       {color: #F08080;
        margin-top: 10px;
       }

       #locations h3
       { color:#80b6f0;
       }

       footer {
        height: 150px
       }
       .social-networks {
        text-align: center;
       }

    .social-networks > li 
    {
        display: inline;
    }
    
    .social-networks i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
        color: #3a3a3a;
    }


    
    
    /* Apply Page CSS */
    .backgroundimage { background: url(../images/lionelmessi.jpeg) no-repeat center center;

    }

    #directions hr { border-top: 3px solid#F08080;
        width: 100%;
        margin-bottom: 8px 1;

        }

    .container {
        position: relative;
        
      }
      
      .topleft {
        position: absolute;
        top: 8px;
        left: 16px;
        font-size: 18px;
      }
      

      #contact-info
    {line-height: 75px;
    text-align: center;}
    
    #contact-info h3
    { color: #F08080;


    }
    #contact-info h2
    {
        color: #375ac2;
        text-align: center;
        margin-top: 70px;
    }

    .

    #info {
        text-align: center;
        margin: 20px 0;
        font-size: 280%
    
    }
        
    .form-section {
        background-size: cover;
        background-position: center;
        height: 500px;
        }

        
    @media screen and (max-width: 900px) {
        #form-section
        
        {width: 100%;
        height: auto;
        margin: 0 auto;
        }
        }

    .signup-form {
        margin:75px 10% 0 0;
        color:#fff;
        background-color:rgba(168, 60, 60, 0.4);
        max-width: 600px;
        left: 40%;
        padding: 30px;
        margin-left: 350px;
        height: 400px;

           }
    
    .signup-form > h2 {
        color: #fafafa;
        margin-bottom: 20px;
    }

    .signup-form { font-size: 2em; // 24px }
    
    .button 
    {text color:#F08080}

    #form-submit-button {
        font-family: Noto serif, sans-serif;
        background: #0066A2;
        color: white;
        border-style: dotted;
        border-color: #fff;
        height: 50px;
        width: 100px;
        font: bold15px arial,sans-serif;
        text-shadow: none;
    }
    #reset-button {
        font-family: Noto serif, sans-serif;
        background: #0066A2;
        color: white;
        border-style: dotted;
        border-color: #fff;
        height: 50px;
        width: 100px;
        font: bold15px arial,sans-serif;
        text-shadow: none;

    }


    #directions h2 {
    
        color: #F08080;
        text-align: center;
        margin-top: 70px;
        
    }
#student-success
{
    color: #375ac2;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-top: 0px;

}
#part2 { 
    border-top: 3px solid#8980f0;
    width: 40%;
    margin-top: 10px;
    margin: auto;
    }


    /* thank you page */

        #thank-you 
        h1, h2 {
    
        color:#F08080;
        text-align: center;
        margin-top: 70px;
        
    }

    #thank-you h3 {
    
        color:#4e4e4e;
        text-align: center;
        margin-top: 70px;
        
    }

/* Student success gallery */

#successphotos {
    clear:both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

#successphotos > img {
    width: 100%;

}

#center-about

{
width: 33%;
margin: 0 auto;

}


#text1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #F08080;
    text-decoration: none;
    margin-bottom: 20px;
}

#text2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #F08080;
    text-decoration: none;
    margin-bottom: 20px;

}

#text3 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #F08080;
    text-decoration: none;
    margin-bottom: 20px;

}