@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Oswald:wght@300&display=swap');
* {margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Noto serif, sans-serif;
    font-weight: 300;
    color: #4e4e4e
}
/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2B394A;
    text-decoration: none;
}
    a {
 text-decoration: none;
    }

#logo {
    text-align: center;
    font-size: 300%;
    text-decoration: none;
    margin: 0 auto;}


/* navigation links */

#menu
{font-size: 110%;
letter-spacing: 4px;}

#menu, #logo 
{line-height: 95px;}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    display: inline;

}

#menu a {
    text-decoration: none;
    color: inherit
}

#menu a:hover { 
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/*training image & cover text */

#training-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative
}
#cover-text, #cover-text h2 {
    color: #fff;
}

#training-image {
    height: 700px;
    width: 100%;
    background: url(../images/Lamasiatraining.jpeg) no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: training-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for training image */
@keyframes training-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: #F08080;

    bottom: 30px;
    right: 150px;

    position: absolute;
}
    /* company-ethos */
    #company-ethos {
        height: 600px

    }

    #left-about {
        padding-top: 30px;
        width: 33%;
        float: left;
    }

    #right-about
{ padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about

{
width: 33%;
margin: 0 auto;

}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 70px
}


.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 70px
}

.right-about-heading h2 { 
    text-align:right;

}

.right-about-heading p {
    text-align: right;

}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%

}

    #star-six {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid #4169E1;
        position: relative;
        scale: 3.5;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 125px
       }

       #star-six:after {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 100px solid #4169E1;
        position: absolute;
        content: "";
        top: 30px;
        left: -50px;
       }

       #star-cover-bg {
        background: url('../images/Lamacia1.jpeg') no-repeat center center;
        Margin: Auto;
       }

       /* locations */

       #locations {
        background-image: url(../images/Lamasiapitch.jpeg);
        background-repeat: no;
        background-size: cover;
        background-position: center;
        width: 100%;
        overflow: hidden;
       }

       #locations div {
        color: #fafafa;
        background-color: rgb(0, 0, 0, .5);
        width: 20%;
        height: 300px;
        float: left;
        padding: 30px 0 0 10px;
        text-align: center;
        border: 2px solid white;
        box-sizing: border-box;
       }
       
       #locations h2 {color: #F08080;

       }