@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Oswald:wght@300&display=swap');
* {margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Noto serif, sans-serif;
    font-weight: 300;
    color: #4e4e4e;
    background-color: #F5F5F5;
    
}
/* headings and logo */

h1 {
    padding-top: 20px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #173aa3;
    text-decoration: none;
}
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #F08080;
    text-decoration: none;
}
h3 {
    padding-top: 20px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #173aa3;
    text-decoration: none;
}

h4 {
    padding-top: 20px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #173aa3;
    text-decoration: none;
}

    a {
 text-decoration: none;
    }

#logo {
    text-align: center;
    font-size: 300%;
    text-decoration: none;
    margin: 0 auto;}


/* navigation links */

#menu
{font-size: 110%;
letter-spacing: 4px;}

#menu, #logo 
{line-height: 50px;}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    display: inline;

}

#menu a {
    text-decoration: none;
    color: inherit
}

#menu a:hover { 
    border-bottom: 1px solid #F08080;
}

.active {
    border-bottom: 1px solid #3a3a3a;
} /* what is this? */


/*training image & cover text */

#training-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative; 
}
#training-image {
    height: 700px;
    width: 100%;
    background: url(../images/Lamasiatraining.jpeg) no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: training-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for training image */
@keyframes training-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
#cover-text, #cover-text h2
{

    font-size: 200%;
    color:#173aa3;

}
#cover-text h3 
{
    text-align: center;
    color:#80b6f0;
}

#cover-text h4
{
    text-align: center;
    color: #F08080;
}

#cover-text
{   font-size: 130%;
    font-family: Noto serif, sans-serif;
    text-transform: UPPERCASE;
    letter-spacing: 3px;
    width: 400px;
    height: 400px;
    
    padding-top: 20px;
    padding-left: 10px;
    background-color:rgba(252, 252, 252, 0.6);
    bottom: 100px;
    right: 145px;
    border-radius: 50%;
    position: absolute;
      
}
    hr {
    border-top: 3px solid#F08080;
    width: 95%;
    margin-bottom: 3px;
     }

    /* company-ethos */   

    #welcome {
        text-align: center;
        margin: 20px 0;
        font-size: 280%;
    } 

    #question { 
        border-top: 3px solid#8980f0;
        width: 40%;
        margin-top: 10px;
        margin: auto;
        }

.left-heading {
    width: 60%;
    /* float: right; */
    line-height: 30px;
    clear: both;
    
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 300px;
}

.right-heading {
    width: 60%;
    /* float: left; */
    line-height: 30px;
    clear: both;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 300px;
}

.center-heading {
    width: 60%;
    /* float: left; */
    text-align: center;
    line-height: 30px;
    clear: both;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 300px;
}

#middleimage 
{ background: url(../images/Lamacia1.jpeg) no-repeat center center;
    height: 500px;
    width: 100%;
    position: relative; 
    opacity: 0.7;
}
/* media queries */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
    #cover-text .form-section
    { width: 190px;
            
    } }
    
    @media only screen and (max-width: 600px) {
        .signup-form 
        { margin-left: 0px;
                
        } }
        @media only screen and (max-width: 600px) {
            #lamaciaouter
            #lamacia1
            {  display: none;

                    
            } }
    @media only screen and (max-width: 600px) {
    #locations {width: 150px;}
}

  

@media screen and (max-width: 900px) {
#companyethos div

{width: 100%;
height: auto;}
}

@media screen and (max-width: 700px) {
    #left-about
    #right-about
    #center-about
    
    {width: 100%;
    height: auto;
    margin: 0 auto;}
    }
     
       /* locations */

       #locations {
        background-image: url(../images/Lamasiapitch.jpeg);
        background-repeat: no;
        background-size: cover;
        background-position: center;
        width: 100%;
        overflow: hidden;
    
       }

       #locations div {
        color: #fafafa;
        background-color: rgba(0, 0, 0, 0.258);
        width: 260px;
        height: 260px;
        float: left;
        padding: 30px 0 0 10px;
        text-align: center;
        border: 3px solid white;
        border-radius: 50%;
       }
       
       #locations h2 
       {color: #F08080;
       }

       #locations h3
       { color:#80b6f0;
       }

       footer {
        height: 150px
       }
       .social-networks {
        text-align: center;
       }

    .social-networks > li 
    {
        display: inline;
    }
    
    .social-networks i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
        color: #3a3a3a;
    }


    
    
    /* Apply Page CSS */
    .backgroundimage { background: url(../images/lionelmessi.jpeg) no-repeat center center;

    }

    #directions hr { border-top: 3px solid#F08080;
        width: 100%;
        margin-bottom: 8px 1;

        }

    .container {
        position: relative;
        
      }
      
      .topleft {
        position: absolute;
        top: 8px;
        left: 16px;
        font-size: 18px;
      }
      

      #contact-info
    {line-height: 75px;
    text-align: center;}
    
    #contact-info h3
    { color: #F08080;


    }
    #contact-info h2
    {
        color: #375ac2;
        text-align: center;
        margin-top: 70px;
    }

    .

    #info {
        text-align: center;
        margin: 20px 0;
        font-size: 280%
    
    }
        
    .form-section {
        background-size: cover;
        background-position: center;
        height: 500px;
        }

        
    @media screen and (max-width: 900px) {
        #form-section
        
        {width: 100%;
        height: auto;
        margin: 0 auto;
        }
        }

    .signup-form {
        margin:75px 10% 0 0;
        color:#fff;
        background-color:rgba(168, 60, 60, 0.4);
        max-width: 600px;
        left: 40%;
        padding: 30px;
        margin-left: 350px;
        height: 400px;

           }
    
    .signup-form > h2 {
        color: #fafafa;
        margin-bottom: 20px;
    }

    .signup-form { font-size: 2em; // 24px }
    
    .button 
    {text color:#F08080}

    #directions h2 {
    
        color: #F08080;
        text-align: center;
        margin-top: 70px;
        
    }
#student-success
{
    color: #375ac2;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-top: 0px;

}
#part2 { 
    border-top: 3px solid#8980f0;
    width: 40%;
    margin-top: 10px;
    margin: auto;
    }


    /* thank you page */

        #thank-you 
        h1, h2 {
    
        color:#F08080;
        text-align: center;
        margin-top: 70px;
        
    }

    #thank-you h3 {
    
        color:#4e4e4e;
        text-align: center;
        margin-top: 70px;
        
    }

/* Student success gallery */

#successphotos {
    clear:both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

#successphotos > img {
    width: 100%;

}

#center-about

{
width: 33%;
margin: 0 auto;

}
